.contact-us-container {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #333;
  padding-bottom: 60px;
}

.contact-header {
  background: linear-gradient(to right, #b71c1c, #d32f2f);
    font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding: 10px 20px;
}

.contact-header h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 500;
  text-decoration: underline;
}

.contact-header p {
  font-size: 1rem;
  max-width: 600px;
  margin: auto;
  
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
  max-width: 1100px;
  margin: auto;
  gap: 40px;
}

.contact-info,
.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-info h2,
.contact-form h2 {
  color: #b71c1c;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: large;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 1rem;
  
}

.map-container {
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.contact-form button {
  margin-top: 20px;
  background: #d32f2f;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #9a0007;
}

.thank-you {
  margin-top: 15px;
  color: green;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    gap: 30px;
  }

  .contact-header h1 {
    font-size: 2rem;
  }
}
